<div class="section"></div>
<div class="center-align container">
  <img
    class="responsive-img"
    style="width: 100px"
    src="https://i.ibb.co/Hn0H7YS/logo.jpg"
  />
</div>

<h5 class="indigo-text center-align">Por favor ingrese la información </h5>
<div class="section"></div>

<div class="container center-align">
  <div
    class="z-depth-1 grey lighten-4 row"
    style="
      display: inline-block;
      padding: 32px 48px 0px 48px;
      border: 1px solid rgba(250, 253, 182, 0.857);
    "
  >
    <form class="col s12" method="post">
      <div class="row">
        <div class="col s12"></div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input class="validate" type="email" name="email" id="email" />
          <label for="email">Digite su correo</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">key</i>
          <input
            class="validate"
            type="password"
            name="password"
            id="password"
          />
          <label for="password">Digite su contraseña</label>
        </div>
        <label style="float: right">
          <a class="black-text" href="#!"><b>¿ Has olvidado tu contraseña?</b></a>
        </label>
      </div>

      <br />

      <div class="row">
        <button
          type="submit"
          name="btn_login"
          class="col s12 btn btn-large waves-effect indigo"
        >
          Iniciar Sesión
        </button>
      </div>
    </form>
  </div>

</div>
<div class="center-align container">
  <a href="#!">Crear nueva cuenta</a>
</div>

<div class="section"></div>
<div class="section"></div>
