<div class="testbox">
    <form action="/">
      <div class="banner">
        <h1>Formulario de solicitud de vehículos</h1>
      </div>
      <div class="item">
        <p>Nombre</p>
        <div class="name-item">
          <input type="text" name="Nombre" placeholder="Nombres" />
          <input type="text" name="name" placeholder="Apellidos" />
        </div>
      </div>
      <div class="item">
        <p>Email</p>
        <input type="text" name="name" placeholder="Email"/>
      </div>
      <div class="item">
        <p>Teléfono</p>
        <input type="text" name="name" placeholder="Teléfono"/>
      </div>
      <div class="item">
        <p>Número de pasajeros</p>
        <input type="text" name="name" placeholder="Número de pasajeros"/>
      </div>
      <div class="item">
        <p>Dirección de contacto</p>
        <input type="text" name="name" placeholder="Dirección" />
    
        <div class="city-item">
          <input type="text" name="name" placeholder="Ciudad" />
          <input type="text" name="name" placeholder="Departamento" />
          <input type="text" name="name" placeholder="País" />
          <select>
            <option value="">País</option>
            <option value="1">Colombia</option>
            <option value="2">Panama</option>
            <option value="3">Ecuador</option>
            <option value="4">Perú</option>
            <option value="5">USA</option>
            <option value="6">Venezuela</option>
          </select>
        </div>
      </div>
      <div class="question">
        <p>Vehiculo</p>
        <div class="question-answer">
          <div>
            <input type="radio" value="none" id="radio_1" name="vehículo" />
            <label for="radio_1" class="radio"><span>Vehiculo pequeño (1-5 personas)</span></label>
          </div>
          <div>
            <input type="radio" value="none" id="radio_2" name="vehículo" />
            <label for="radio_2" class="radio"><span>Camioneta (6-7 personas)</span></label>
          </div>
          <div>
            <input type="radio" value="none" id="radio_3" name="vehículo" />
            <label for="radio_3" class="radio"><span>Van (12-15 personas)</span></label>
          </div>
          
          <div>
            <input type="radio" value="none" id="radio_5" name="vehículo" />
            <label for="radio_5" class="radio other"><span>otro:</span></label>
            <input class="other" type="text" name="name" />
          </div>
        </div>
      </div>
      <div class="item">
        <p>Fecha de solicitud</p>
        <input type="date" name="bdate" />
        <i class="fas fa-calendar-alt"></i>
      </div>
      <div class="item">
        <p>Fecha de entrega</p>
        <input type="date" name="bdate" />
        <i class="fas fa-calendar-alt"></i>
      </div>
      <div class="item">
        <p>Si el vehículo es alquilado en el aeropuerto, por favor indique el nombre del aeropuerto</p>
        <input type="text" name="name" placeholder="Nombre Aeropuerto"/>
      </div>
      <div class="item">
        <p>Número de vuelo</p>
        <input type="text" name="name" placeholder="Número de Vuelo"/>
      </div>
      <div class="item">
        <p>Lugar de entrega para vehículos de alquiler (no diligenciar si es compra)</p>
        <input type="text" name="name" placeholder="Dirección" />
       
        <div class="city-item">
          <input type="text" name="name" placeholder="Ciudad" />
          <input type="text" name="name" placeholder="Departamento" />
          <input type="text" name="name" placeholder="Código postal" />
          <select>
            <option value="">País</option>
            <option value="1">Colombia</option>
            <option value="2">Panama</option>
            <option value="3">Ecuador</option>
            <option value="4">Perú</option>
            <option value="5">USA</option>
            <option value="6">Venezuela</option>
          </select>
        </div>
      </div>
      
      <div class="item">
        <p>Observaciones</p>
        <textarea rows="3"></textarea>
      </div>
      <div class="btn-block">
        <button type="submit" href="/">Enviar</button>
      </div>
    </form>
  </div>